<div class="content">
<h1>Flights</h1>
<div class="form">
    <%= form_tag(root_path, method: 'get') do %>
    <%= label_tag :from %>
    <%= select_tag(:from, options_for_select(@airport_options, params[:from])) %>
    <%= label_tag :to %>
    <%= select_tag(:to, options_for_select(@airport_options, params[:to])) %><br>
    Number of passengers: <%= select_tag(:number, options_for_select([1,2,3,4], params[:number])) %><br>
    <%= label_tag :date %>
    <%= select_tag(:date, options_for_select(@dates, params[:date])) %><br>
    <%= submit_tag 'search'%>
    <% end %>
</div>
<p>
    <% if !@flights.empty? %>
        <%= form_tag 'bookings/new', method: 'get' do %>
            <% @flights.each do |flight| %>
            <table style="border: 1px solid black;">
                <tr>
                    <td></td>
                    <td>Depart airport</td>
                    <td>Arrive airport</td>
                    <td>Flight duration</td>
                    <td>Depart time</td>
                </tr>
                <tr>
                    <td><%= radio_button_tag(:flight_option, flight.id) %></td>
                    <td><%= Airport.find(flight.from_airport_id).code %></td>
                    <td><%= Airport.find(flight.to_airport_id).code %></td>
                    <td><%= flight.duration %> hour(s)</td>
                    <td><%= flight.depart_time.to_s(:long) %></td>
                </tr>
            </table>
            <br>
            <% end %>
            <%= hidden_field_tag('passenger_num', @passenger_num) %>
            <%= submit_tag 'order' %>
        <% end %>
    <% else %>
        <% if !params[:commit].blank? %>
            <% if params[:from] == params[:to] %>
            Departure airport is the same as the destination airport!
            <% else %>
            no  flight 
            <% end %>
        <% end %>
    <% end %>
</p>
</div>

