<div class="content">
<h1>Flight</h1>
<style>
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<%= ENV['go'] %>
<p>
    <table>
        <tr>
            <th>Depart airport</th>
            <th>Arrive airport</th>
            <th>Flight duration</th>
            <th>Depart time</th>
        </tr>
        <tr>
            <td><%= Airport.find(@flight.from_airport_id).code %></td>
            <td><%= Airport.find(@flight.to_airport_id).code %></td>
            <td><%= @flight.duration %> hour(s)</td>
            <td><%= @flight.depart_time.to_s(:long) %></td>
        </tr>
    </table>
</p>

<h1>Passengers</h1>

<%= form_for @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    
    <%= f.fields_for :passengers do |p| %>
    <%= p.label :name %>
    <%= p.text_field :name %>
    <%= p.label :email %>
    <%= p.text_field :email %><br>
    <% end %>
<br>
<%= f.submit 'Order flight' %>
<% end %>
</div>
