<style>
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div class="content">
<h1>Flight information</h1>
<p>
    <table>
        <tr>
            <th>Depart airport</th>
            <th>Arrive airport</th>
            <th>Flight duration</th>
            <th>Depart time</th>
        </tr>
        <tr>
            <td><%= Airport.find(@flight.from_airport_id).code %></td>
            <td><%= Airport.find(@flight.to_airport_id).code %></td>
            <td><%= @flight.duration %> hour(s)</td>
            <td><%= @flight.depart_time.to_s(:long) %></td>
        </tr>
    </table>
</p>

<h1>Passenger information</h1>

<p>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
    <% @passengers.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.email %></td>
        </tr>
    <% end %>
    </table>
</p>
</div>