// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-334430.jpg');

}

form {
    
}

.content {
    background: white;
    display: inline-solid;
    width: 50%;
    margin: auto;
    padding: 100px;
    opacity: 0.8;
    line-height: 1.5;
    border-radius: 1%;
}