<!DOCTYPE html>
<html>
<head>
  <title>FlightOrder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <% flash.each do |name, msg| %>
  <%= msg %>
  <% end %>

<body>

<%= yield %>

</body>
</html>
